<div class="container">
    <h3>Add Exercise</h3>

    <form>
        <div class="form-group">
            <input type="text" id="workoutName" name="workoutName" class="form-control" placeholder="Exercise name" [(ngModel)]="model.workoutName">
        </div>
        <div class="form-group">
            <input type="number" id="weight" name="weight" placeholder="Weight" [(ngModel)]="model.weight">
        </div>
        <div class="form-group">
            <input type="number" id="reps" name="reps" placeholder="# of reps" [(ngModel)]="model.reps">
        </div>
    </form>
    <button type="submit" class="btn btn-primary" (click)="addExercise()">Submit</button>
    <button type="submit" class="btn btn-danger">Cancel</button>
</div>