<app-nav-bar></app-nav-bar>

<div class="container dashboard-container">
    <h1 class="text-center">Exercise Dashboard</h1>

    <p>Recent exercises:</p>
    <div>
        <div class="row">
            <p class="col-3">Who</p>
            <p class="col-3">Exercise</p>
            <p class="col-3">Weight</p>
            <p class="col-3">Reps</p>
        </div>
        
        <div *ngFor="let exercise of exercises" class="row exercise-row">
            <p class="col-3">{{ exercise.person }}</p>
            <p class="col-3">{{ exercise.name }}</p>
            <p class="col-3">{{ exercise.weight }}lbs</p>
            <p class="col-3">{{ exercise.reps }} reps</p>
        </div>
    </div>
</div>